[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = http://github.com/klen/python-mode
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".emacs.d/yasnippet"]
	path = .emacs.d/yasnippet
	url = http://github.com/capitaomorte/yasnippet.git
