[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "vim/bundle/fugative"]
	path = vim/bundle/fugative
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-makrmultiple"]
	path = vim/bundle/vim-makrmultiple
	url = git@github.com:adinapoli/vim-markmultiple.git
[submodule "vim/bundle/vim-expand-region"]
	path = vim/bundle/vim-expand-region
	url = git@github.com:terryma/vim-expand-region.git
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
